body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  width: 100%;
  text-align: left;
  display: block;
}
div#data-detail {
  float: left;
  padding: 2em;
}

table.data-table {
  display: block;
  clear: left;
  margin-top: 1em;
  margin-bottom: 2em;
  border: 1px solid black;
}

table.data-table td {
  padding: 1em;
  text-align: left;
}
